body, html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

div {
  width: 100vw;
  height: 200vh;
}

canvas {
  position: fixed;
}

#chart-container-1 {
  width: 500px;
  height: 500px;
  top: 100px;
  left: 100px;
  position: absolute;
}

#chart-container-2 {
  width: 500px;
  height: 500px;
  top: 100px;
  left: 700px;
  position: absolute;
}